@import url(../sass/normalize.css);
@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); }

@font-face {
  font-weight: bold;
  font-family: "Open Sans Bold";
  font-style: normal;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2"); }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer; }

.container {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px; } }

@media (min-width: 1150px) {
  .container {
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px; } }

.page-header {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff; }

.page-header__logo {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ededed;
  text-align: center; }
  .page-header__logo--image {
    display: block;
    width: 86px;
    height: 35px;
    margin: 21px auto; }

.page-header__delivery {
  display: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400; }

@media (min-width: 768px) {
  .page-header__logo {
    background-image: url("../img/mishka-logo-tablet.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 113px auto;
    text-align: left; }
    .page-header__logo--image {
      width: 113px;
      height: 46px; }
  .page-header__delivery {
    display: block;
    position: absolute;
    top: 115px;
    left: 62%;
    margin-left: auto; } }

@media (min-width: 1150px) {
  .page-header__logo {
    position: absolute;
    right: 50%;
    background-image: url("../img/mishka-logo-desktop.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 149px auto; }
    .page-header__logo--image {
      width: 149px;
      height: 72px; }
  .page-header__delivery {
    left: 72%; } }

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-nav__list--extra {
    display: none; }

.main-nav__item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  padding-top: 30px;
  padding-right: auto;
  padding-bottom: 30px;
  padding-left: 46px;
  vertical-align: middle;
  border-bottom: 1px solid #ededed;
  color: #000000; }
  .main-nav__item:hover, .main-nav__item:focus {
    color: #6e6e6e; }
  .main-nav__item:active {
    color: #bababa; }
  .main-nav__item--search, .main-nav__item--user {
    position: relative; }
    .main-nav__item--search:hover path, .main-nav__item--search:focus path, .main-nav__item--user:hover path, .main-nav__item--user:focus path {
      fill: #63d1bb; }
    .main-nav__item--search:active path, .main-nav__item--user:active path {
      opacity: 0.3; }
  .main-nav__item--search-icon, .main-nav__item--user-icon {
    position: absolute;
    top: 45%;
    left: 2px;
    width: 18px;
    height: 18px; }
  .main-nav__item--user-icon {
    width: 21px; }

.main-nav__toggle {
  position: absolute;
  top: 31px;
  left: 60%;
  display: block;
  width: 20px;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:focus {
    outline: none; }

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -71px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000; }

.main-nav--closed .main-nav__toggle {
  top: -61px;
  right: 20px; }
  .main-nav--closed .main-nav__toggle::before, .main-nav--closed .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 0;
    width: 21px;
    height: 2px;
    background-color: #000000; }
  .main-nav--closed .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--closed .main-nav__toggle::after {
    transform: rotate(-45deg); }

@media (max-width: 767px) {
  .main-nav--opened .main-nav__list--main,
  .main-nav--opened .main-nav__list--user {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    position: relative;
    width: auto;
    margin: 0; }
  .main-nav__toggle {
    display: none; }
  .main-nav__list--main {
    display: flex;
    justify-content: space-between;
    width: 390px; }
  .main-nav__list--user {
    display: flex;
    text-align: right;
    position: absolute;
    top: -85px;
    left: 62%;
    width: 350px; }
  .main-nav__item--main {
    padding-left: 0px;
    margin-right: 36px;
    border: 0; }
    .main-nav__item--main:nth-child(even) {
      margin-right: 0; }
  .main-nav__item--user {
    border-left: 1px solid #ededed; }
  .main-nav__item--search {
    font-size: 0;
    border-left: 1px solid #ededed; } }

@media (min-width: 1150px) {
  .main-nav {
    display: flex; }
  .main-nav__list--user {
    top: 0px;
    width: 350px; }
  .main-nav__list--extra {
    display: flex;
    position: absolute;
    top: 80px;
    margin-right: auto; }
  .main-nav__item--extra {
    border: none; } }

.page-main__main-title {
  padding-top: 70px;
  padding-right: 0;
  padding-bottom: 75px;
  padding-left: 0;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background: transparent; }
  .page-main__main-title--catalog {
    padding-top: 73px;
    padding-bottom: 78px;
    margin-bottom: 30px;
    background-color: #f2f2f2; }
  .page-main__main-title--form {
    padding-top: 73px;
    padding-bottom: 75px;
    margin-bottom: 25px;
    background-color: #f2f2f2; }

.page-main__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.products-type__header {
  margin-bottom: 32px;
  margin-top: 0px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 320px auto;
  height: 489px;
  border: 1px solid red; }

.products-type__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.products-type__item {
  padding-top: auto;
  padding-bottom: auto;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #63d1bb; }

.product__wrapper {
  text-align: left; }

.product__title {
  margin-bottom: 10px; }

.product__label {
  margin-bottom: 28px;
  font-weight: 700;
  color: #63d1bb; }

.product__intro {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px; }

.product__options {
  margin-bottom: 28px; }

.product__option,
.product__field {
  border-bottom: 1px solid #ededed;
  padding-top: 14px;
  padding-bottom: 11px;
  font-size: 15px; }

.product__option {
  padding-right: 32px; }

.product__picture {
  width: 260px;
  height: 315px;
  margin-bottom: 27px; }

.product__price {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  margin-bottom: 26px;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  color: #444444; }

.product__order {
  margin-bottom: 70px; }

@media (min-width: 768px) {
  .products-type__header {
    height: 746px;
    background-size: 768px 746px; }
  .products-type__list {
    flex-direction: row;
    margin-top: 100px; }
  .products-type__item {
    width: 334px; }
  .product__wrapper {
    position: relative; }
    .product__wrapper--title {
      display: flex;
      justify-content: space-between; }
  .product__label {
    width: 95px;
    text-align: center;
    margin-right: 15px; }
  .product__intro,
  .product__options {
    width: calc("50% - 44px"); }
  .product__picture {
    position: absolute;
    top: 80px;
    right: 50px;
    width: calc("50% - 50px");
    height: auto;
    margin: 0; }
  .product__price,
  .product__order {
    width: 290px; } }

@media (min-width: 1150px) {
  .products-type__header {
    height: 746px;
    background-size: 1150px 746px; }
  .products-type__list {
    width: 1050px; }
  .products-type__item {
    width: 525px; }
  .product__wrapper--title {
    justify-content: flex-start; }
  .product__title {
    order: 2; }
  .product__label {
    width: 95px;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    order: 1; }
  .product__intro,
  .product__options,
  .product__price,
  .product__order {
    margin-left: 175px; } }

.features__wrapper {
  text-align: left; }

.features__title {
  margin-bottom: 27px; }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 55px; }

.features__item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
  color: #000000;
  background-color: #ffffff; }

.features__icon {
  margin-bottom: 15px; }

.features__description {
  font-weight: 700; }

@media (min-width: 768px) {
  .features__list {
    width: auto;
    display: flex;
    flex-wrap: wrap; }
  .features__item {
    width: 334px; }
    .features__item--price {
      order: 3; }
    .features__item--likes {
      order: 5; }
    .features__item--knitting {
      order: 2; }
    .features__item--rocket {
      order: 4; }
    .features__item--packed {
      order: 6; } }

@media (min-width: 1150px) {
  .features {
    margin-left: 175px; }
  .features__item {
    width: 350px; }
    .features__item--price {
      order: 3; }
    .features__item--likes {
      order: 5; }
    .features__item--knitting {
      order: 2; }
    .features__item--rocket {
      order: 4; }
    .features__item--packed {
      order: 6; } }

.reviews__wrapper {
  text-align: left;
  border: 1px solid red; }

.reviews__title {
  margin-bottom: 30px; }

.reviews__list {
  margin-bottom: 44px; }

.reviews__item {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-bottom: 33px;
  color: #444444;
  background-color: #ffffff; }

.reviews__text {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 37px;
  font-size: 15px;
  line-height: 30px; }

.reviews__author-name {
  margin-bottom: 13px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal; }

.reviews__author-user-name {
  line-height: 30px;
  font-weight: 400; }

.reviews__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px; }

.reviews__prev {
  width: 50%;
  height: 50px;
  padding: 0;
  background-image: url("../img/icon-left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 1px solid #ededed; }

.reviews__next {
  width: 50%;
  height: 50px;
  background-image: url("../img/icon-right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ededed;
  background-color: #ffffff;
  border-left: none; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    margin-bottom: 150px; }
  .reviews__list {
    display: flex;
    flex-direction: column; }
  .reviews__links {
    position: absolute;
    top: 80%;
    right: 5%;
    width: 167px; }
  .reviews__prev,
  .reviews__next {
    border: none; }
  .reviews__to-write {
    position: absolute;
    width: 174px;
    top: 0;
    right: 5%; } }

@media (min-width: 1150px) {
  .reviews {
    margin-left: 175px;
    margin-bottom: 230px; }
  .reviews__item {
    width: 700px; } }

.contacts {
  margin-bottom: 42px;
  font-size: 18px; }

.contacts__title {
  margin-bottom: 42px; }

.contacts__wrapper {
  text-align: left; }

.contacts__options {
  margin-bottom: 42px;
  font-size: 15px;
  line-height: 30px; }

.contacts__row {
  padding-bottom: 42px; }

.contacts__option {
  padding: 0;
  padding-right: 25px; }

.contacts__field {
  padding: 0; }

.contacts__field--active {
  border-bottom: 1px solid #63d1bb; }

.contacts__write-us {
  padding-left: 30px;
  padding-right: 30px; }

@media (min-width: 768px) {
  .contacts__options {
    width: auto; }
  .map__picture {
    width: 768px; }
  .contacts__button {
    width: 230px; }
  .contacts__write-us {
    text-align: center; } }

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    margin-left: 175px; }
  .contacts__options {
    width: calc("50% - 64px"); }
  .map__picture {
    position: absolute;
    top: -40%;
    right: 0;
    width: 525px; }
  .contacts__button {
    width: 230px; }
  .contacts__write-us {
    width: calc("50% - 64px");
    text-align: left; } }

.map {
  margin: 0 auto;
  margin-bottom: 39px; }

.page-footer {
  background-color: #f2f2f2; }

.page-footer__social {
  border-bottom: 1px solid #e8e8e8; }

.page-footer__logo {
  display: none; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 141px;
  padding-top: 25px;
  padding-bottom: 27px;
  margin: 0 auto; }

.social__link {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  vertical-align: bottom;
  width: 37px;
  height: 28px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #f2f2f2; }
  .social__link--instagram {
    background-image: url("../img/icon-insta.svg"); }
  .social__link--facebook {
    background-image: url("../img/icon-fb.svg"); }
  .social__link--twitter {
    background-image: url("../img/icon-twitter.svg"); }
  .social__link:hover path,
  .social__link:focus path {
    fill: #46c1ae;
    transition: 0.2s; }
  .social__link:active path {
    fill: #bde3dd;
    transition: 0.2s; }

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 26px;
  padding-bottom: 29px; }

.copyright__text {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700; }
  .copyright__text:active {
    color: #a8a8a8;
    transition: 0.2s; }

.copyright__link {
  width: 27px;
  height: 34px;
  border: none;
  background-image: url("../img/htmlacademy.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #f2f2f2; }
  .copyright__link:active path {
    fill: #bde3dd;
    transition: 0.2s; }

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between; }
  .page-footer__logo {
    display: block; }
  .page-footer__wrapper {
    display: flex; } }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px; }

.catalog__item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ededed; }

.catalog__image {
  width: 260px;
  height: 195px;
  margin-bottom: 28px; }

.catalog__title {
  padding-left: 28px;
  margin-bottom: 16px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700; }

.catalog__description {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 28px;
  margin-right: 28px;
  padding-bottom: 26px;
  margin-bottom: 27px;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid #ededed;
  order: 3; }

.catalog__to-buy {
  display: flex;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 30px; }

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700; }

.catalog__order {
  width: 20px;
  padding: 0;
  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 0; }

@media (min-width: 768px) {
  .catalog__item {
    flex-direction: row;
    justify-content: space-between; }
  .catalog__item__wrapper {
    width: 334px;
    padding-left: 30px;
    padding-right: 30px; }
  .catalog__image {
    margin-bottom: 0; } }

@media (min-width: 1150px) {
  .catalog__list {
    display: flex;
    justify-content: space-between; }
  .catalog__item {
    flex-direction: column;
    justify-content: flex-end; }
  .catalog__item__wrapper {
    width: 316px;
    padding: 0; }
  .catalog__image {
    width: 316px;
    height: 462px;
    margin-bottom: 28px; } }

.video {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-bottom: 58px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ededed; }

.video__title {
  position: absolute;
  top: 0;
  padding-left: 90px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700; }

.video__play {
  height: 150px;
  margin-top: 50px;
  margin-bottom: 32px; }

.video__description {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 34px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px; }

.video__order {
  width: 190px;
  margin-left: 30px;
  margin-bottom: 33px; }

@media (min-width: 768px) {
  .video {
    display: flex;
    flex-direction: column; }
  .video__play {
    width: 666px;
    height: 455px;
    margin-top: 0; }
  .video__wrapper {
    padding-right: 42px;
    padding-left: 42px; }
  .video__title {
    position: relative;
    padding-left: 63px; }
  .video__order {
    width: 584px;
    margin-left: 0; }
  .video__description {
    padding-left: 0;
    font-size: 15px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .video {
    flex-direction: row; }
  .video__wrapper {
    width: 255px;
    margin-top: 100px; }
  .video__title {
    padding: 0; }
  .video__play {
    width: 682px;
    margin-right: 78px;
    margin-bottom: 0; }
  .video__order {
    width: 230px; }
  .video__description {
    padding: 0; } }

.order__intoduction {
  margin-bottom: 25px;
  font-size: 13px;
  background-color: #ffffff;
  color: #444444; }

.order__field {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none; }
  .order__field--type {
    margin-bottom: 30px; }
  .order__field--color {
    margin-bottom: 38px; }
  .order__field .order__additional {
    margin-bottom: 16px; }
  .order__field .order__phone {
    display: block;
    margin-bottom: 32px; }
  .order__field .order__email {
    margin-bottom: 32px; }

.order__title {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 23px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb; }
  .order__title .phone__title {
    display: block; }

.order__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.type__item {
  margin-bottom: 22px;
  padding-left: 62px; }

.order__label {
  position: relative;
  margin-bottom: 20px;
  display: block;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  user-select: none; }

.color__item {
  margin-bottom: 42px;
  padding-left: 64px; }

.type__input-radio + .order__label::after {
  content: "";
  position: absolute;
  left: -63px;
  top: -10px;
  height: 40px;
  width: 40px;
  border: 1px solid #444444;
  border-radius: 50%; }

.color__input-checkbox + .order__label::after {
  content: "";
  position: absolute;
  left: -63px;
  top: -10px;
  height: 40px;
  width: 40px;
  border: 1px solid #444444; }

.color__input-checkbox:checked .order__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -43px;
  width: 16px;
  height: 16px;
  background-color: #63d1bb;
  border-radius: 50%;
  display: inline-block; }

.order__input {
  margin-bottom: 24px;
  border: none;
  border-bottom: 2px solid #000000; }
  .order__input::placeholder {
    color: #d6d6d6; }
  .order__input:active::placeholder {
    color: #000000; }

.order__message {
  min-height: 142px;
  border: 2px solid #000000; }
  .order__message::placeholder {
    color: #d6d6d6; }
  .order__message:active::placeholder {
    color: #000000;
    outline: none; }
  .order__message:hover, .order__message:active {
    border-color: #63d1bb; }

.order__comment {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #444444; }

.order-button {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 55px; }

.filter-input-checkbox + .filter__name:hover::before,
.filter-input-checkbox + .filter__name:focus::before,
.filter-input-checkbox + .filter__name:hover::after,
.filter-input-checkbox + .filter__name:focus::after {
  opacity: 1; }

@media (min-width: 768px) {
  .order__intoduction {
    font-size: 17px;
    line-height: 30px; }
  .order__list {
    margin-left: 167px;
    margin-top: -30px; }
  .order__field--color {
    background-color: #f1f1f1; }
  .order__label {
    width: 158px; }
  .client-data__input-email {
    margin-left: 117px; }
  .client-data__input-phone,
  .order__message {
    margin-left: 137px; }
  .color__list {
    display: flex;
    flex-wrap: wrap; }
  .color__item {
    margin-right: 20px; }
  .order__wrapper {
    display: flex;
    justify-content: space-between; }
  .order__comment {
    order: 2; }
  .order-button {
    width: 230px; } }

@media (min-width: 1150px) {
  .order__intoduction {
    margin-left: 175px; }
  .order__wrapper {
    margin-right: 175px;
    margin-left: 237px; }
  .order__field {
    margin-left: 62px; } }

.modal-order {
  width: 318px;
  padding-top: 35px;
  padding-bottom: 46px;
  margin: 0 auto;
  border: 1px solid #c7c7c7;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2); }

.modal__title {
  width: 167px;
  margin-bottom: 23px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center; }

.modal__text {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px; }

.modal__size-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between; }

.modal__size-item {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 18px 30px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #ededed; }
  .modal__size-item--active {
    border-color: #63d1bb; }

.modal__button {
  border-color: #63d1bb;
  background-color: #63d1bb;
  color: #ffffff; }
  .modal__button:hover {
    border-color: #c7c7c7; }
  .modal__button:active {
    border-color: #63d1bb;
    outline: none; }

@media (min-width: 768px) {
  .modal-order {
    width: 562px;
    padding-left: 105px;
    padding-right: 105px; }
  .modal__title {
    width: auto; }
  .modal__size-item {
    padding: 18px 50px; } }
