@import url(../sass/normalize.css);
@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); }

@font-face {
  font-weight: bold;
  font-family: "Open Sans Bold";
  font-style: normal;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2"); }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer; }

.container {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0; } }

@media (min-width: 1150px) {
  .container {
    width: 1150px; } }

.page-header {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  font-weight: 700;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff; }

.page-header__logo {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ededed;
  text-align: center;
  cursor: pointer; }
  .page-header__logo--image {
    width: 86px;
    height: 35px;
    margin: 21px 0;
    margin-bottom: 15px; }
    .page-header__logo--image:hover, .page-header__logo--image:focus {
      opacity: 0.6; }
    .page-header__logo--image:active {
      opacity: 0.3; }

.page-header__delivery {
  display: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400; }

@media (min-width: 768px) {
  .page-header__logo {
    padding-left: 50px;
    padding-right: 50px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 113px auto;
    text-align: left; }
    .page-header__logo--image {
      width: 113px;
      height: 46px; }
  .page-header__delivery {
    display: block;
    position: absolute;
    top: 105px;
    left: 61%;
    margin-left: auto; } }

@media (min-width: 1150px) {
  .page-header__logo {
    position: absolute;
    top: -3px;
    right: 40%;
    margin: 0;
    border: 0;
    background-size: 149px 72px; }
    .page-header__logo--image {
      width: 149px;
      height: 72px;
      margin-bottom: 0; }
  .page-header__delivery {
    top: 115px;
    left: 73.9%; } }

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-nav__list--extra {
    display: none; }

.main-nav__item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  padding-top: 26px;
  padding-right: auto;
  padding-bottom: 28px;
  padding-left: 75px;
  letter-spacing: 1.4px;
  border-bottom: 1px solid #ededed;
  color: #000000; }
  .main-nav__item:hover, .main-nav__item:focus {
    color: #6e6e6e; }
  .main-nav__item:active {
    color: #bababa; }
  .main-nav__item--search, .main-nav__item--user {
    position: relative; }
    .main-nav__item--search:hover path, .main-nav__item--search:focus path, .main-nav__item--user:hover path, .main-nav__item--user:focus path {
      fill: #63d1bb; }
    .main-nav__item--search:active path, .main-nav__item--user:active path {
      opacity: 0.3; }
  .main-nav__item--search-icon, .main-nav__item--user-icon {
    position: absolute;
    top: 40%;
    left: 35px;
    width: 18px;
    height: 18px; }
  .main-nav__item--user-icon {
    width: 21px;
    left: 33px; }

.main-nav__toggle {
  position: absolute;
  bottom: 34px;
  right: 30px;
  display: block;
  width: 20px;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:focus {
    outline: none; }

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000; }

.main-nav--closed .main-nav__toggle {
  top: -55px;
  right: 25px; }
  .main-nav--closed .main-nav__toggle::before, .main-nav--closed .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    width: 28px;
    height: 2px;
    background-color: #000000; }
  .main-nav--closed .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--closed .main-nav__toggle::after {
    transform: rotate(-45deg); }

@media (max-width: 767px) {
  .main-nav--opened .main-nav__list--main,
  .main-nav--opened .main-nav__list--user {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    position: relative;
    width: auto;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px; }
  .main-nav__toggle {
    display: none; }
  .main-nav__list {
    font-size: 16px; }
    .main-nav__list--main {
      display: flex;
      width: 390px;
      font-size: 15px; }
    .main-nav__list--user {
      display: flex;
      text-align: right;
      position: absolute;
      top: -85px;
      left: 48%;
      width: 390px; }
  .main-nav__item {
    letter-spacing: 1.1px; }
    .main-nav__item--main {
      padding-top: 15px;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 0px;
      margin-right: 16px;
      border: 0; }
      .main-nav__item--main:nth-child(even) {
        margin-right: 0; }
    .main-nav__item--user {
      padding-bottom: 34px;
      border-left: 1px solid #ededed; }
    .main-nav__item--search {
      font-size: 0;
      padding-bottom: 34px;
      border-left: 1px solid #ededed; }
    .main-nav__item--user-icon {
      width: 21px;
      left: 28px; } }

@media (min-width: 1150px) {
  .main-nav {
    display: flex;
    border-bottom: 1px solid #ededed; }
  .main-nav__list--main {
    width: 430px;
    font-size: 16px; }
    .main-nav__list--main li:nth-child(2n) {
      border-left: 1px solid #ededed;
      padding-left: 35px;
      padding-right: 0px; }
  .main-nav__list--user {
    top: 0px;
    left: 65.2%;
    border: 0; }
  .main-nav__list--extra {
    display: flex;
    position: absolute;
    top: 100px;
    font-size: 14px; }
  .main-nav__item--main {
    margin-right: 0px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 35px;
    letter-spacing: 1.2px; }
  .main-nav__item--extra {
    padding-top: 15px;
    padding-left: 0;
    margin-right: 55px;
    border: 0;
    font-size: 14px; }
  .main-nav__item--user {
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 78px; }
  .main-nav__item--search {
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 64px; } }

.page-main__main-title {
  padding-top: 70px;
  padding-right: 0;
  padding-bottom: 75px;
  padding-left: 0;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  letter-spacing: 1.2px;
  background-color: #fbfbfb;
  background-image: url("../img/hero-mobile.jpg");
  background-position: center -30px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 323px;
  padding-bottom: 0; }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__main-title {
      background-image: url("../img/hero-mobile@2x.jpg"); } }
  .page-main__main-title--catalog {
    padding-top: 73px;
    padding-bottom: 78px;
    margin-bottom: 30px;
    background-color: #f2f2f2; }
  .page-main__main-title--form {
    padding-top: 73px;
    padding-bottom: 75px;
    margin-bottom: 25px;
    background-color: #f2f2f2; }

.page-main__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #000000; }

@media (min-width: 768px) {
  .page-main__main-title {
    width: 768px;
    height: 600px;
    margin-top: -50px;
    padding-top: 153px;
    letter-spacing: 1px;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-desktop.jpg"); } }
  @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-main__main-title {
      background-image: url("../img/hero-desktop@2x.jpg"); } }

@media (min-width: 768px) {
    .page-main__main-title br:nth-child(1) {
      display: none; }
  .page-main__title {
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1150px) {
  .page-main__main-title {
    width: 1150px;
    margin-top: 0px;
    font-size: 50px;
    line-height: 57px; }
  .page-main__title {
    font-size: 50px;
    line-height: 57px; } }

.products-type {
  width: 320px; }

.products-type__header {
  margin-bottom: 27px; }

.products-type__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -110px;
  display: flex;
  flex-direction: column; }

.products-type__item {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 1.1px;
  background-color: #63d1bb; }
  .products-type__item--toys {
    background-color: #56c3b2; }

.products-type__link {
  color: #ffffff;
  position: relative; }
  .products-type__link::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 216px;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .products-type__link--furnishings::after {
    width: 61px;
    height: 62px;
    background-image: url("../img/icon-interior.svg"); }
    .products-type__link--furnishings::after path {
      opacity: 0.5;
      fill: red; }
  .products-type__link--toys::after {
    top: -5px;
    left: 205px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-image: url("../img/icon-toy.svg"); }

.product__wrapper {
  margin-bottom: 28px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: auto 6px; }

.product__title {
  margin-bottom: 5px; }

.product__label {
  display: block;
  margin-bottom: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb; }

.product__intro {
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 24px; }

.product__options {
  margin-bottom: 28px;
  border-collapse: collapse; }
  .product__options tr {
    border-bottom: 1px solid #ededed; }

.product__option,
.product__field {
  padding-top: 9px;
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 15px; }

.product__option {
  padding-right: 28px; }

.product__picture {
  width: 260px;
  height: 315px;
  margin-bottom: 20px; }

.product__price {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  margin-bottom: 26px;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  color: #444444; }

.product__order {
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .products-type {
    width: 768px;
    margin-bottom: 48px; }
  .products-type__header {
    margin-bottom: 35px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: auto 24px;
    z-index: 200; }
  .products-type__list {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    margin-top: -128px; }
  .products-type__item {
    width: 334px;
    padding-left: 33px;
    padding-top: 31px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 30px; }
  .products-type__link::after {
    left: 220px; }
  .products-type__link--toys::after {
    left: 200px; }
  .product__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    position: relative; }
    .product__wrapper--title {
      display: flex;
      justify-content: space-between; }
  .product__label {
    width: 95px;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px; }
  .product__wrapper--title {
    margin-bottom: 45px; }
  .product__intro {
    width: calc("50% - 44px");
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px; }
  .product__options {
    width: calc("50% - 44px");
    margin-bottom: 57px; }
  .product__picture {
    position: absolute;
    top: 107px;
    right: 50px;
    width: 333px;
    height: 404px;
    margin: 0; }
  .product__price {
    width: 290px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px; }
  .product__order {
    width: 290px; }
  .product__wrapper {
    padding-bottom: 28px;
    background-size: auto 17px; } }

@media (min-width: 1150px) {
  .products-type {
    width: 1150px;
    margin-bottom: 62px; }
  .products-type__header {
    background-size: 1150px 746px;
    margin-bottom: 110px; }
  .products-type__list {
    width: 1050px;
    margin-top: -128px; }
  .products-type__item {
    width: 525px; }
  .products-type__link::after {
    left: 415px; }
  .products-type__link--toys::after {
    left: 400px; }
  .product__wrapper--title {
    justify-content: flex-start; }
  .product__title {
    order: 2;
    z-index: 100; }
  .product__label {
    width: 95px;
    text-align: center;
    margin-top: 16px;
    margin-right: 40px;
    margin-left: 35px;
    order: 1; }
  .product__intro,
  .product__options,
  .product__price,
  .product__order {
    margin-left: 175px; }
  .product__intro {
    width: 290px;
    margin-bottom: 50px; }
    .product__intro br {
      display: none; }
  .product__picture {
    top: -50px;
    right: 50px;
    width: 525px;
    height: 636px; }
  .product__price {
    margin-bottom: 32px; }
  .product__options {
    margin-bottom: 110px; }
  .product__order {
    margin-bottom: 65px; }
  .product__wrapper {
    margin-bottom: 28px;
    background-size: auto 23px; } }

.features__wrapper {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 55px; }

.features__title {
  margin-bottom: 32px; }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
  letter-spacing: 1.1px;
  color: #000000;
  background-color: #ffffff; }
  .features__item--price {
    margin-bottom: 33px; }
  .features__item--knitting {
    margin-bottom: 34px; }
  .features__item--packed {
    margin-bottom: 27px; }

.features__icon {
  margin-bottom: 12px;
  margin-left: 5px; }
  .features__icon--price {
    margin-bottom: 22px;
    margin-left: 0; }
  .features__icon--likes {
    margin-bottom: 18px; }
  .features__icon--knitting, .features__icon--packed {
    margin-left: 0; }
  .features__icon--rocket {
    margin-bottom: 22px;
    margin-left: 3px; }
  .features__icon--packed {
    margin-bottom: 18px; }

.features__description {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700; }

@media (min-width: 768px) {
  .features__wrapper {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px; }
  .features__title {
    margin-bottom: 50px; }
  .features__list {
    width: auto;
    display: flex;
    flex-wrap: wrap; }
  .features__item {
    width: 334px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 60px; }
    .features__item--price {
      order: 3; }
    .features__item--likes {
      order: 5; }
    .features__item--knitting {
      order: 2; }
    .features__item--rocket {
      order: 4; }
    .features__item--packed {
      order: 6; }
  .features__icon {
    margin-bottom: 12px;
    margin-left: 5px; }
    .features__icon--eco {
      margin-left: 5px; }
    .features__icon--price {
      margin-bottom: 22px;
      margin-left: 0; }
    .features__icon--likes {
      margin-bottom: 18px;
      margin-left: 5px; }
    .features__icon--knitting, .features__icon--packed {
      margin-left: 5px; }
    .features__icon--rocket {
      margin-bottom: 22px;
      margin-left: -5px; }
    .features__icon--packed {
      margin-bottom: 14px; } }

@media (min-width: 1150px) {
  .features {
    margin-left: 175px; }
  .features__wrapper {
    margin-bottom: 25px; }
  .features__item {
    width: 350px; }
    .features__item--price {
      order: 3; }
    .features__item--likes {
      order: 5; }
    .features__item--knitting {
      order: 2; }
    .features__item--rocket {
      order: 4; }
    .features__item--packed {
      order: 6; } }

.reviews__wrapper {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 38px; }

.reviews__title {
  margin-bottom: 22px; }

.reviews__list {
  margin-bottom: 44px; }

.reviews__item {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-bottom: 27px;
  color: #444444;
  background-color: #ffffff; }

.reviews__text {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px; }

.reviews__author-name {
  display: block;
  margin-bottom: 1px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal; }

.reviews__author-user-name {
  display: block;
  margin-bottom: 32px;
  line-height: 30px;
  font-weight: 400; }

.reviews__links {
  width: 260px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px; }

.reviews__prev {
  width: 50%;
  height: 50px;
  padding: 0;
  background-image: url("../img/icon-left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 1px solid #ededed; }

.reviews__next {
  width: 50%;
  height: 50px;
  background-image: url("../img/icon-right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ededed;
  background-color: #ffffff;
  border-left: none; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    margin-bottom: 44px;
    background-image: #f3f3f3 url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-position: left 0;
    background-repeat: no-repeat; } }
  @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg"); } }

@media (min-width: 768px) {
  .reviews__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: 0 bottom;
    background-repeat: no-repeat;
    padding-bottom: 55px;
    background-size: auto 17px; }
  .reviews__title {
    padding-top: 75px;
    padding-left: -5px;
    margin-bottom: 50px; }
  .reviews__list {
    display: flex;
    flex-direction: column; }
  .reviews__item {
    width: 750px;
    margin-bottom: 37px;
    letter-spacing: 1.1px;
    font-size: 16px;
    line-height: 30px;
    background-color: transparent; }
  .reviews__author-name {
    letter-spacing: 1.2px;
    margin-bottom: 3px; }
  .reviews__links {
    position: absolute;
    bottom: 95px;
    right: 53px;
    width: 167px; }
  .reviews__prev,
  .reviews__next {
    border: none; }
  .reviews__to-write {
    position: absolute;
    width: 174px;
    top: 78px;
    right: 50px;
    padding-bottom: 13px; } }

@media (min-width: 1150px) {
  .reviews {
    background-position: 50px 0;
    margin-bottom: 130px; }
  .reviews__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-left: 225px;
    padding-bottom: 105px;
    background-size: auto 23px; }
  .reviews__title {
    padding-top: 70px; }
  .reviews__text {
    margin-bottom: 10px; }
  .reviews__item {
    letter-spacing: 0.9px;
    margin-bottom: 0px; }
  .reviews__links {
    bottom: 145px; } }

.contacts {
  padding-right: 30px;
  font-size: 18px; }

.contacts__title {
  font-size: 18px;
  line-height: 30px; }

.contacts__wrapper {
  text-align: left;
  margin-bottom: 10px;
  margin-bottom: 38px;
  padding-left: 30px; }

.contacts__options {
  border-collapse: separate;
  border-spacing: 0 25px;
  font-size: 15px;
  line-height: 30px; }

.contacts__option {
  padding: 0;
  padding-right: 27px;
  vertical-align: top; }

.contacts__field--active {
  border-bottom: 1px solid #63d1bb; }

.contacts__write-us {
  padding-left: 30px;
  padding-right: 30px; }

@media (min-width: 768px) {
  .contacts {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 58px; }
  .contacts__wrapper {
    padding-left: 0;
    margin-bottom: 0px; }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 31px;
    padding-top: 20px;
    top: 0;
    right: 0;
    background-image: url("../img/icon-flag.svg");
    background-position: 621px 0px;
    background-repeat: no-repeat;
    background-size: 47px 81px; }
  .contacts__options tbody {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin-top: -30px;
    font-size: 17px; }
    .contacts__options tbody tr {
      width: 334px; }
  .contacts__field br:nth-child(2) {
    display: none; }
  .contacts__button {
    width: 230px; }
  .contacts__write-us {
    text-align: center; } }

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    margin-bottom: 105px; }
  .contacts__wrapper {
    margin-bottom: 40px; }
  .contacts__title {
    font-size: 50px;
    line-height: 57px;
    padding-top: 13px;
    padding-left: 175px;
    padding-bottom: 28px;
    margin-bottom: 10px;
    background-position: 65px 5px; }
  .contacts__options tbody {
    flex-direction: column;
    margin-left: 175px;
    border-spacing: 0 13px; }
  .contacts__button {
    width: 230px;
    margin-left: 145px; }
  .contacts__write-us {
    text-align: left; } }

.map {
  margin: 0 auto;
  margin-bottom: 37px; }

@media (min-width: 768px) {
  .map {
    width: 768px;
    margin-bottom: 50px;
    margin-left: -50px; }
  .map__picture {
    width: 768px; } }

@media (min-width: 1150px) {
  .map {
    margin-bottom: 0;
    margin-left: 0px; }
  .map__picture {
    position: absolute;
    top: -16%;
    right: 50px;
    width: 525px; } }

.page-footer {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f2f2f2; }

.page-footer__social {
  margin-bottom: 15px;
  border-bottom: 1px solid #e8e8e8; }

.page-footer__logo {
  display: none; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  height: 28px;
  padding-top: 25px;
  padding-left: 57px;
  padding-right: 62px;
  padding-bottom: 27px; }

.social__link {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  vertical-align: bottom;
  height: 28px;
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2; }
  .social__link--instagram {
    width: 22px;
    background-image: url("../img/icon-insta.svg"); }
  .social__link--facebook {
    width: 15px;
    background-image: url("../img/icon-fb.svg"); }
  .social__link--twitter {
    width: 23px;
    background-image: url("../img/icon-twitter.svg"); }
  .social__link:hover path,
  .social__link:focus path {
    fill: #46c1ae;
    transition: 0.2s; }
  .social__link:active path {
    fill: #bde3dd;
    transition: 0.2s; }

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  padding-bottom: 18px;
  margin: 0 auto; }

.copyright__text {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000; }
  .copyright__text:active {
    color: #a8a8a8;
    transition: 0.2s; }

.copyright__link {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 40px;
  height: 46px;
  border: none;
  background-image: url("../img/htmlacademy.svg");
  background-position: 5px 0;
  background-size: 40px 46px;
  background-repeat: no-repeat;
  background-color: #f2f2f2; }
  .copyright__link:active path {
    fill: #bde3dd;
    transition: 0.2s; }

@media (min-width: 768px) {
  .page-footer {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between; }
  .page-footer__logo {
    display: block; }
  .page-footer__copyright {
    margin: 0;
    padding-bottom: 0; }
  .page-footer__social {
    margin-bottom: 0;
    border-bottom: none; }
  .social__list {
    padding-top: 55px;
    padding-left: 75px;
    padding-right: 0;
    padding-bottom: 57px; } }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px; }

.catalog__item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ededed; }

.catalog__image {
  width: 260px;
  height: 195px;
  margin-bottom: 28px; }

.catalog__title {
  padding-left: 28px;
  margin-bottom: 16px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700; }

.catalog__description {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 28px;
  margin-right: 28px;
  padding-bottom: 26px;
  margin-bottom: 27px;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid #ededed;
  order: 3; }

.catalog__to-buy {
  display: flex;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 30px; }

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700; }

.catalog__order {
  width: 20px;
  padding: 0;
  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 0; }

@media (min-width: 768px) {
  .catalog__item {
    flex-direction: row;
    justify-content: space-between; }
  .catalog__item__wrapper {
    width: 334px;
    padding-left: 30px;
    padding-right: 30px; }
  .catalog__image {
    margin-bottom: 0; } }

@media (min-width: 1150px) {
  .catalog__list {
    display: flex;
    justify-content: space-between; }
  .catalog__item {
    flex-direction: column;
    justify-content: flex-end; }
  .catalog__item__wrapper {
    width: 316px;
    padding: 0; }
  .catalog__image {
    width: 316px;
    height: 462px;
    margin-bottom: 28px; } }

.video {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-bottom: 58px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ededed; }

.video__title {
  position: absolute;
  top: 0;
  padding-left: 90px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700; }

.video__play {
  height: 150px;
  margin-top: 50px;
  margin-bottom: 32px; }

.video__description {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 34px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px; }

.video__order {
  width: 190px;
  margin-left: 30px;
  margin-bottom: 33px; }

@media (min-width: 768px) {
  .video {
    display: flex;
    flex-direction: column; }
  .video__play {
    width: 666px;
    height: 455px;
    margin-top: 0; }
  .video__wrapper {
    padding-right: 42px;
    padding-left: 42px; }
  .video__title {
    position: relative;
    padding-left: 63px; }
  .video__order {
    width: 584px;
    margin-left: 0; }
  .video__description {
    padding-left: 0;
    font-size: 15px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .video {
    flex-direction: row; }
  .video__wrapper {
    width: 255px;
    margin-top: 100px; }
  .video__title {
    padding: 0; }
  .video__play {
    width: 682px;
    margin-right: 78px;
    margin-bottom: 0; }
  .video__order {
    width: 230px; }
  .video__description {
    padding: 0; } }

.order__intoduction {
  margin-bottom: 25px;
  font-size: 13px;
  background-color: #ffffff;
  color: #444444; }

.order__field {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none; }
  .order__field--type {
    margin-bottom: 30px; }
  .order__field--color {
    margin-bottom: 38px; }
  .order__field .order__additional {
    margin-bottom: 16px; }
  .order__field .order__phone {
    display: block;
    margin-bottom: 32px; }
  .order__field .order__email {
    margin-bottom: 32px; }

.order__title {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 23px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb; }
  .order__title .phone__title {
    display: block; }

.order__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.type__item {
  margin-bottom: 22px;
  padding-left: 62px; }

.order__label {
  position: relative;
  margin-bottom: 20px;
  display: block;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  user-select: none; }

.color__item {
  margin-bottom: 42px;
  padding-left: 64px; }

.type__input-radio + .order__label::after {
  content: "";
  position: absolute;
  left: -63px;
  top: -10px;
  height: 40px;
  width: 40px;
  border: 1px solid #444444;
  border-radius: 50%; }

.color__input-checkbox + .order__label::after {
  content: "";
  position: absolute;
  left: -63px;
  top: -10px;
  height: 40px;
  width: 40px;
  border: 1px solid #444444; }

.color__input-checkbox:checked .order__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -43px;
  width: 16px;
  height: 16px;
  background-color: #63d1bb;
  border-radius: 50%;
  display: inline-block; }

.order__input {
  margin-bottom: 24px;
  border: none;
  border-bottom: 2px solid #000000; }
  .order__input::placeholder {
    color: #d6d6d6; }
  .order__input:active::placeholder {
    color: #000000; }

.order__message {
  min-height: 142px;
  border: 2px solid #000000; }
  .order__message::placeholder {
    color: #d6d6d6; }
  .order__message:active::placeholder {
    color: #000000;
    outline: none; }
  .order__message:hover, .order__message:active {
    border-color: #63d1bb; }

.order__comment {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #444444; }

.order-button {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 55px; }

.filter-input-checkbox + .filter__name:hover::before,
.filter-input-checkbox + .filter__name:focus::before,
.filter-input-checkbox + .filter__name:hover::after,
.filter-input-checkbox + .filter__name:focus::after {
  opacity: 1; }

@media (min-width: 768px) {
  .order__intoduction {
    font-size: 17px;
    line-height: 30px; }
  .order__list {
    margin-left: 167px;
    margin-top: -30px; }
  .order__field--color {
    background-color: #f1f1f1; }
  .order__label {
    width: 158px; }
  .client-data__input-email {
    margin-left: 117px; }
  .client-data__input-phone,
  .order__message {
    margin-left: 137px; }
  .color__list {
    display: flex;
    flex-wrap: wrap; }
  .color__item {
    margin-right: 20px; }
  .order__wrapper {
    display: flex;
    justify-content: space-between; }
  .order__comment {
    order: 2; }
  .order-button {
    width: 230px; } }

@media (min-width: 1150px) {
  .order__intoduction {
    margin-left: 175px; }
  .order__wrapper {
    margin-right: 175px;
    margin-left: 237px; }
  .order__field {
    margin-left: 62px; } }

.modal-order {
  display: none;
  position: fixed;
  top: 50%;
  left: 28%;
  z-index: 100;
  width: 318px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 46px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25); }

@media (min-width: 768px) {
  .modal {
    width: 568px;
    padding-top: 30px;
    padding-left: 108px;
    padding-right: 108px;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6; } }

.modal-show {
  display: block; }

.modal__title {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center; }

.modal__text {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px; }

.form__input {
  display: none; }

.form__modal-size-list {
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between; }

.form__label--modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  padding: 18px 31px;
  line-height: 16px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  box-shadow: inset 2px 2px 0 0 rgba(68, 68, 68, 0.1), inset -2px -2px 0 0 rgba(68, 68, 68, 0.1);
  cursor: pointer; }
  .form__label--modal-checkbox:hover {
    box-shadow: inset 2px 2px 0 0 rgba(68, 68, 68, 0.3), inset -2px -2px 0 0 rgba(68, 68, 68, 0.3); }
  .form__label--modal-checkbox:active {
    box-shadow: inset 2px 2px 0 0 #63d1bb, inset -2px -2px 0 0 #63d1bb; }

.form__input--modal-checkbox:focus + .form__label--modal-checkbox,
.form__input--modal-checkbox:checked + .form__label--modal-checkbox {
  box-shadow: inset 2px 2px 0 0 #63d1bb, inset -2px -2px 0 0 #63d1bb; }

.modal__button {
  border-color: #63d1bb;
  background-color: #63d1bb;
  color: #ffffff; }
  .modal__button:hover {
    border-color: #c7c7c7; }
  .modal__button:active {
    border-color: #63d1bb;
    outline: none; }

@media (min-width: 768px) {
  .modal-order {
    width: 562px;
    padding-left: 105px;
    padding-right: 105px; }
  .modal__title {
    width: auto; }
  .modal__size-item {
    padding: 18px 50px; } }
