@mixin clear {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  padding-top: 70px;
  padding-right: 0;
  padding-bottom: 75px;
  padding-left: 0;
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  color: $dark;
}

@mixin border {
  border-bottom: 1px solid $light-grey;
}
@mixin container {
  padding-left: 50px;
  padding-right: 50px;
}
