$dark: #000000;
$grey: lighten($dark, 73%);
$dark-grey: lighten($dark, 43%);
$light-grey: lighten($dark, 93%);

$tiffany: #63d1bb;
$text-grey: #444444;
$dark: #000000;
$light: #ffffff;
$text-green: #63d1bb;
$font-normal: "Open Sans", "Arial", sans-serif;
$font-bold: "Open Sans Bold", "Arial", sans-serif;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
