body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;

  color: $dark;
  background-color: $light;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
