
.products-type {
  width: 320px;
}

.products-type__header {
  margin-bottom: 27px;
}

.products-type__list {
  @include clear;
  margin-top: -110px;
  display: flex;
  flex-direction: column;
}

.products-type__item {
  @include clear;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.products-type__link {
  display: block;
  color: $light;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: $tiffany;

  &--toys {
    background-color: #56c3b2;
  }

  &::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 245px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &--furnishings::after {
    width: 61px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
    path {
    opacity: 0.5;
    }
  }

  &--toys::after {
    // top: -5px;
    left: 235px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-image: url("../img/icon-toy.svg");
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }
  &--toys:hover {
    background-color: #46c1ae;
  }
}

.product__wrapper {
  margin-bottom: 28px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;

  @include zigzag;
  background-size: auto 6px;
}

.product__title {
  margin-bottom: 5px;
}

.product__label {
  display: block;
  margin-bottom: 22px;

  font-weight: 700;
  text-transform: uppercase;

  color: $tiffany;
}

.product__intro {
  margin-bottom: 17px;

  font-size: 15px;
  line-height: 24px;
}

.product__options {
  margin-bottom: 28px;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid $light-grey;
  }
}

.product__option,
.product__field {
  padding-top: 9px;
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 10px;

  font-size: 15px;
}

.product__option {
  padding-right: 28px;
}

.product__image-wrapper {
  @include image-wrapper;

  height: 315px;
}

.product__picture {
  width: 260px;
  height: 315px;
  margin-bottom: 20px;
}

.product__price {
  @include clear;
  display: block;
  margin-bottom: 26px;

  text-align: center;

  line-height: 24px;
  font-weight: 700;

  color: $text-grey;
}

.product__order {
  margin-bottom: 40px;

  &:hover {
    background-color: $text-grey;
    color: $light;
  }

  &:active {
    background-color: $text-grey;
    color: rgb(117, 117, 117);
  }
}

@media (min-width: $tablet-width) {
  .products-type {
    width: 768px;
    margin-bottom: 48px;
  }
  .products-type__header {
    margin-bottom: 35px;


  }
  .products-type__list {
    @include container;
    flex-direction: row;
    margin-top: -128px;
    // @include zigzag-big;
    // z-index: 400;
  }
  .products-type__item {

    width: 334px;

    font-size: 20px;
    line-height: 30px;

  }

  .products-type__link {
    padding-left: 33px;
    padding-top: 31px;
    padding-bottom: 40px;
    // @include zigzag-big;
    // z-index: 100px;

    &::after {
      top: 30px;
      left: 260px;
    }

    &--toys::after {
      top: 35px;
      left: 240px;
    }

    &:hover {
      margin-top: -5px;
      padding-top: 34px;
      padding-bottom: 42px;
      transition: 0.2s;
    }
}

  .product__wrapper {
    @include container;
    position: relative;
    &--title {
      display: flex;
      justify-content: space-between;
    }
  }

  .product__label {
    width: 95px;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
  }
  .product__wrapper--title {
    margin-bottom: 45px;
  }

  .product__intro {
    width: calc("50% - 44px");
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 30px;
  }

  .product__options {
    width: calc("50% - 44px");
    margin-bottom: 57px;
  }

  .product__image-wrapper {
    position: absolute;
    top: 107px;
    right: 50px;
    width: 333px;
    height: auto;
  }

  .product__picture {
    width: 333px;
    height: 404px;
    margin: 0;
  }

  .product__price {
    width: 290px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
  }

   .product__order {
    width: 290px;
  }

  .product__wrapper {
    padding-bottom: 28px;
    background-size: auto 17px;
  }
}

@media (min-width: $desktop-width) {
  .products-type {
    width: 1150px;
    margin-bottom: 62px;
  }
  .products-type__header {
    background-size: $desktop-width 746px;
    margin-bottom: 110px;
  }

  .products-type__list {
    width: 1050px;
      margin-top: -128px;
}
  .products-type__item {
    width: 525px;
  }
  .products-type__link {

    &::after {
      left: 415px;
  }
    &--toys::after {
      left: 400px;
  }
}
  .product__wrapper {
    &--title {
      justify-content: flex-start;
    }
  }
  .product__title {
    order: 2;
    z-index: 100;
  }
  .product__label {
    width: 95px;
    text-align: center;
    margin-top: 16px;
    margin-right: 40px;
    margin-left: 35px;
    order: 1;
  }
  .product__intro,
  .product__options,
  .product__price,
  .product__order {
    margin-left: 175px;
  }
  .product__intro {
    width: 290px;
    margin-bottom: 50px;

    br {
      display: none;
    }
  }

  .product__image-wrapper {
    width: 525px;
    top: -50px;
    right: 50px;
  }

  .product__picture {
    width: 525px;
    height: 636px;
  }
  .product__price {
    margin-bottom: 32px;
  }
  .product__options {
    margin-bottom: 110px;
  }
  .product__order {
      margin-bottom: 65px;
  }
  .product__wrapper {
    margin-bottom: 28px;

    background-size: auto 23px;
  }
}
