.contacts {
  padding-right: 30px;

  font-size: 18px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__wrapper {
  text-align: left;

  margin-bottom: 10px;
  margin-bottom: 38px;
  padding-left: 30px;
}

.contacts__options {
  border-collapse: separate;
  border-spacing: 0 25px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__option {
  padding: 0;
  padding-right: 27px;
  vertical-align: top;
}

.contacts__field--active {
  border-bottom: 1px solid $tiffany;
}
.contacts__link {
  @include clear;

  &:hover {
    color: $tiffany;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.3;
    transition: 0.3s;
  }
}

.contacts__write-us {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .contacts {
    @include container;
    margin-bottom: 58px;
  }

  .contacts__wrapper {
    padding-left: 0;
    margin-bottom: 0px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 31px;
    padding-top: 20px;
    top: 0;
    right: 0;
    background-image: url("../img/icon-flag.svg");
    background-position: 621px 0px;
    background-repeat: no-repeat;
    background-size: 47px 81px;
  }

  .contacts__options tbody {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin-top: -30px;
    font-size: 17px;

    tr {
      width: 334px;
    }
  }

  .contacts__field br:nth-child(2) {
    display: none;
  }

  .contacts__button {
    width: 230px;

    &:hover {
      background-color: $text-grey;
      color: $light;
    }

    &:active {
      background-color: $text-grey;
      color: rgb(117, 117, 117);
    }
  }

  .contacts__write-us {
  text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    margin-bottom: 40px;
  }

  .contacts__title {
    font-size: 50px;
    line-height: 57px;
    padding-top: 13px;
    padding-left: 175px;
    padding-bottom: 28px;
    margin-bottom: 10px;
    background-position: 65px 5px;
  }

  .contacts__options tbody {
    flex-direction: column;
    margin-left: 175px;
    border-spacing: 0 13px;
  }

  .contacts__button {
    width: 230px;
    margin-left: 145px;
  }
  .contacts__write-us {
    text-align: left;
  }
}
