.contacts {
  margin-bottom: 38px;

  font-size: 18px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__wrapper {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}

.contacts__options {
  border-collapse: separate;
  border-spacing: 0 25px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__option {
  padding-right: 27px;
  vertical-align: top;
}

.contacts__field--active {
  border-bottom: 1px solid $tiffany;
}

.contacts__write-us {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .contacts__options {
    width: auto;
  }
  .map__picture {
    width: 768px;
  }
  .contacts__button {
    width: 230px;
  }
  .contacts__write-us {
  text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    margin-left: 175px;
  }
  .contacts__options {
    width: calc("50% - 64px");
  }

  .map__picture {
    position: absolute;
    top: -40%;
    right: 0;
    width: 525px;
  }
  .contacts__button {
    width: 230px;
  }
  .contacts__write-us {
    width: calc("50% - 64px");
    text-align: left;
  }
}
