.contacts {
  margin-bottom: 38px;

  font-size: 18px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__wrapper {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}

.contacts__options {
  border-collapse: separate;
  border-spacing: 0 25px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__option {
  padding: 0;
  padding-right: 27px;
  vertical-align: top;
}

.contacts__field--active {
  border-bottom: 1px solid $tiffany;
}

.contacts__write-us {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 58px;
  }
  .contacts__wrapper {
    @include container;
    // padding-left: 40px;
    margin-bottom: 0px;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 31px;
    padding-top: 20px;
    top: 0;
    right: 0;
    background-image: url("../img/icon-flag.svg");
    background-position: 621px 0px;
    background-repeat: no-repeat;
    background-size: 47px 81px;
  }

  .contacts__options tbody {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin-top: -30px;
    font-size: 17px;

    tr {
      width: 334px;
    }
  }
  .contacts__field br:nth-child(2) {
    display: none;
  }
  .map__picture {
    width: 768px;
  }
  .contacts__button {
    width: 230px;
  }
  .contacts__write-us {
  text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    margin-left: 175px;
  }
  .contacts__options {
    width: calc("50% - 64px");
  }

  .map__picture {
    position: absolute;
    top: -40%;
    right: 0;
    width: 525px;
  }
  .contacts__button {
    width: 230px;
  }
  .contacts__write-us {
    width: calc("50% - 64px");
    text-align: left;
  }
}
