.features__wrapper {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 55px;
}

.features__title {
  margin-bottom: 32px;
}

.features__list {
  @include clear;
}

.features__item {
  @include clear;
  margin-bottom: 30px;

  letter-spacing: 1.1px;
  color: $dark;
  background-color: $light;

  &--price {
    margin-bottom: 33px;
  }

  &--knitting {
    margin-bottom: 34px;
  }

  &--packed {
    margin-bottom: 27px;
  }
}

.features__icon {
  margin-bottom: 12px;
  margin-left: 5px;

  &--price {
    margin-bottom: 22px;
    margin-left: 0;
  }

  &--likes {
    margin-bottom: 18px;
  }

  &--knitting,
  &--packed {
    margin-left: 0;
  }

  &--rocket {
    margin-bottom: 22px;
    margin-left: 3px;
  }

  &--packed {
    margin-bottom: 18px;
  }
}

.features__description {
  @include clear;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    text-align: left;
    @include container;
    margin-bottom: 20px;
  }

  .features__title {
    margin-bottom: 50px;
  }

  .features__list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 334px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 60px;


    &--price {
    order: 3;
    }
    &--likes {
    order: 5;
    }
    &--knitting {
    order: 2;
    }
    &--rocket {
    order: 4;
    }
    &--packed {
    order: 6;
    }
  }

  .features__icon {
    margin-bottom: 12px;
    margin-left: 5px;

    &--eco {
      margin-left: 5px;
    }

    &--price {
      margin-bottom: 22px;
      margin-left: 0;
    }

    &--likes {
      margin-bottom: 18px;
      margin-left: 5px;
    }

    &--knitting,
    &--packed {
      margin-left: 5px;
    }

    &--rocket {
      margin-bottom: 22px;
      margin-left: -5px;
    }

    &--packed {
      margin-bottom: 14px;
    }
  }
}
@media (min-width: $desktop-width) {
  .features {
    margin-left: 175px;
  }

  .features__wrapper {
    margin-bottom: 25px;
  }

  .features__item {
    width: 350px;

    &--price {
    order: 3;
    }
    &--likes {
    order: 5;
    }
    &--knitting {
    order: 2;
    }
    &--rocket {
    order: 4;
    }
    &--packed {
    order: 6;
    }
  }
}
