.features__wrapper {
  // @include container;
  text-align: left;
}

.features__title {
  margin-bottom: 27px;
}

.features__list {
  @include clear;
  margin-bottom: 55px;
}

.features__item {
  @include clear;
  margin-bottom: 30px;

  color: $dark;
  background-color: $light;
}
.features__icon {
  margin-bottom: 15px;
}
.features__description {
  font-weight: 700;
}
