
.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  @include clear;

  &--extra {
    display: none;
  }
}
.main-nav__item {
  @include clear;
  display: block;

  padding-top: 30px;
  padding-right: auto;
  padding-bottom: 30px;
  padding-left: 46px;
  vertical-align: middle;

  @include border;
  color: $dark;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-grey;
  }

  &:active {
    color: $grey;
  }
}
.page-header__delivery {
  display: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.main-nav__toggle {
    position: absolute;
    content: "";
    top: 31px;
    left: 60%;
    display: block;
    width: 20px;
    height: 14px;
    padding: 0;
    border: none;
    font-size: 0;
    cursor: pointer;

    &--open {
      background: url("../img/icon-menu-open.svg") no-repeat;
    }

    &--close {
      top: 28px;
      right: 30px;
      width: 21px;
      height: 20px;
      background: url("../img/icon-menu-close.svg") no-repeat;
    }

    &:focus {
      outline: none;
    }
}


@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    width: auto;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    &--main {
      display: flex;
      justify-content: space-between;
      // margin-right: auto;
      // bottom: 0;
      // transform: translateY(100%);
      width: 390px;
      // font-size: 0;
    }

    &--user {
      display: flex;
      text-align: right;
      position: absolute;
      top: -85px;
      left: 62%;

      width: 350px;
      // font-size: 0;
    }
  }

.page-header__delivery {
    display: block;
    position: absolute;
    top: 115px;
    left: 62%;
    margin-left: auto;
  }

.main-nav__item {
  &--main {
      padding-left: 0px;
      margin-right: 36px;
      border: 0;

      &:nth-child(even) {
        margin-right: 0;
      }
  }

  &--user {

      // min-width: 82px;
    border-left: 1px solid $light-grey;
      // font-size: 0;
    }
  &--search {
    font-size: 0;
    border-left: 1px solid $light-grey;
  }
}
}
@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    // position: relative;
  }

  .main-nav__list {
  //   &--main {

  //     float: left;
  //     transform: none;
  //   }
  //
  &--user {
    top: 0px;

    width: 350px;
    // font-size: 0;
  }
    &--extra {
      display: flex;
      position: absolute;
      top: 80px;
      margin-right: auto;
      // left: 3%;
      // transform: translateY(100%);
      // display: block;
      // width: 390px;
      // font-size: 0;
    }
  }

  .main-nav__item {
  //   &--main {
  //     margin-right: 0;
  //
  //     &:nth-child(odd) {
  //       width: 184px;
  //     }
  //
  //     &:nth-child(even) {
  //       padding-left: 35px;
  //       border-left: 1px solid $light-grey;
  //     }
  //   }
  //
    &--extra {
      border: none;
      // &:nth-child(odd) {
      //   width: 184px;
      // }
  //
  //     &:nth-child(even) {
  //       padding-left: 35px;
  //     }
    }
  }
  .page-header__delivery {
      left: 72%;
      // margin-left: auto;
    }
}
