.modal-order {
  display: none;
  position: fixed;
  top: 50%;
  left: 28%;
  z-index: 100;
  width: 318px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 46px;
  margin: 0 auto;

  background-color: $light;
  border: 1px solid rgb(199, 199, 199);
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

@media (min-width: $tablet-width) {
  .modal {
    width: 568px;
    padding-top: 30px;
    padding-left: 108px;
    padding-right: 108px;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
  }
}
.modal-show {
  display: block;
}
.modal__title {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.modal__text {
  @include clear;
  text-align: center;
  margin-bottom: 28px;

  font-size: 15px;
  line-height: 30px;
}
.form__input {
  display: none;
}
.form__modal-size-list {
  // @include clear;
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
}

.form__label--modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  padding: 18px 31px;

  line-height: 16px;
  font-family: $font-bold;
  text-transform: uppercase;

  box-shadow: inset 2px 2px 0 0 transparentize($text-grey, 0.9),
    inset -2px -2px 0 0 transparentize($text-grey, 0.9);
  cursor: pointer;

  &:hover {
    box-shadow: inset 2px 2px 0 0 transparentize($text-grey, 0.7),
      inset -2px -2px 0 0 transparentize($text-grey, 0.7);
  }

  &:active {
    box-shadow: inset 2px 2px 0 0 $tiffany,
      inset -2px -2px 0 0 $tiffany;
  }
}

// .form__input--modal-checkbox:focus + .form__label--modal-checkbox,
.form__input--modal-checkbox:checked + .form__label--modal-checkbox {
  box-shadow: inset 2px 2px 0 0 $tiffany,
    inset -2px -2px 0 0 $tiffany;
}

.modal__button {
  border-color: $tiffany;
  background-color: $tiffany;
  color: $light;
  &:hover {
    border-color: rgb(199, 199, 199);
  }

  &:active {
    border-color: $tiffany;
    outline: none;
  }
}
@media (min-width: $tablet-width) {
  .modal-order {
    width: 562px;
    padding-left: 105px;
    padding-right: 105px;
  }
  .modal__title {
    width: auto;
  }
  .modal__size-item {
    padding: 18px 50px;
  }
}
