.order {
  // @include container;
}

.order__intoduction {
  margin-bottom: 25px;

  font-size: 13px;
  background-color: $light;
  color: $text-grey;
}

.order__field {
  border: none;
  .type {
  margin-bottom: 30px;
  }
  .color {
  margin-bottom: 38px;
  }
  .order__additional {
  margin-bottom: 16px;
  }
  .order__phone {
    display: block;
    // flex-direction: column;
    margin-bottom: 32px;
  }
  .order__email {
    margin-bottom: 32px;
  }
}
.order__title {
  @include clear;
  margin-bottom: 23px;

  line-height: 16px;
  font-weight: 700;
  color: $tiffany;
  .phone__title {
  display: block;
  }
}

.order__list {
  @include clear;
}

.type__item {
  margin-bottom: 22px;
  padding-left: 62px;
}

.order__label {
  position: relative;
  margin-bottom: 20px;
  display: block;

  line-height: 18px;
  font-weight: 700;
  color: $dark;

  cursor: pointer;
  user-select: none;
}

.color__item {
  margin-bottom: 42px;
  padding-left: 64px;
}
.type__input-radio + .order__label::after {
  content: "";
  position: absolute;
  left: -63px;
  top: -10px;

  height: 40px;
  width: 40px;
  border: 1px solid $text-grey;
  border-radius: 50%;
  // display: inline-block;
}
.color__input-checkbox + .order__label::after {
  content: "";
  position: absolute;
  left: -63px;
  top: -10px;

  height: 40px;
  width: 40px;
  border: 1px solid $text-grey;
  // display: inline-block;
}
.color__input-checkbox:checked .order__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -43px;

  width: 16px;
  height: 16px;

  background-color: $tiffany;
  border-radius: 50%;
  display: inline-block;
}
.order__input {
  margin-bottom: 24px;
  border: none;
  border-bottom: 2px solid $dark;

  &::placeholder {
  color: rgb(214, 214, 214);
  }

  &:active::placeholder {
  color: #000000;
  }
}

.order__message {
  min-height: 142px;
  border: 2px solid $dark;
  &::placeholder {
  color: rgb(214, 214, 214);
  }

  &:active::placeholder {
  color: #000000;
  outline: none;
  }

  &:hover,
  &:active {
  border-color: $tiffany;
  }
}

.order__comment {
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 16px;
  color: $text-grey;
}

.order-button {
  @include clear;
  margin-bottom: 55px;
}
.filter-input-checkbox + .filter__name:hover::before,
.filter-input-checkbox + .filter__name:focus::before,
.filter-input-checkbox + .filter__name:hover::after,
.filter-input-checkbox + .filter__name:focus::after {
  opacity: 1;
}
