.page-header {
  display: flex;
  flex-direction: column;

  line-height: 24px;
  font-weight: 700;
  font-family: $font-bold;

  color: $dark;
  background-color: $light;
}

.page-header__logo {
  @include clear;
  @include border;

  text-align: center;
  cursor: pointer;

  &--image {
    width: 86px;
    height: 35px;
    margin: 21px 0;
    margin-bottom: 15px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
  }
}

.page-header__delivery {
  display: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {

  .page-header__logo {
    @include container;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 113px auto;
    text-align: left;

    &--image {
      width: 113px;
      height: 46px;
    }
  }

  .page-header__delivery {
      display: block;
      position: absolute;
      top: 105px;
      left: 61%;
      margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    position: absolute;
    top: -3px;
    right: 40%;
    margin: 0;
    border: 0;

    background-size: 149px 72px;

    &--image {
      width: 149px;
      height: 72px;
      margin-bottom: 0;
    }
  }

  .page-header__delivery {
    top: 115px;
    left: 73.9%;
  }
}
