.page-main__main-title {
  @include title;
  width: 320px;
  height: 323px;
  padding-bottom: 0;

  letter-spacing: 1.2px;

  background-color: rgb(251, 251, 251);
  background-image: url("../img/hero-mobile.jpg");
  background-position: center -30px;
  background-repeat: no-repeat;
  background-size: cover;
  @include border;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  &--catalog,
  &--form {
    height: auto;
    padding-top: 70px;
    padding-bottom: 75px;
    margin-bottom: 30px;

    font-size: 24px;

    background-image: none;
    background-color: lighten($dark, 95%);
  }

  &--form {
    margin-bottom: 24px;

    letter-spacing: 1px;
    font-size: 27px;
    line-height: 30px;
  }
}

.page-main__title {
  @include clear;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: $font-bold;
  color: $dark;
}

@media (min-width: $tablet-width) {
  .page-main__main-title {
    width: 100%;
    height: 600px;
    margin-top: -55px;
    padding-top: 153px;

    letter-spacing: 1px;
    font-size: 43px;
    line-height: 50px;

    background-image: url("../img/hero-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    &--catalog,
    &--form {
      height: auto;
      padding-top: 95px;
      padding-bottom: 93px;
      margin-bottom: 67px;

      font-size: 40px;

      background-image: none;
    }

    &--main,
    &--catalog,
    &--form {

      &::after {
        position: absolute;
        content:"";
        top: 835px;
        left: 0;
        z-index: 100;

        width: 100%;
        height: 24px;

        background: url("../img/bg-zigzag-fill.svg");
        background-size: auto 26px;
      }
    }

    &--catalog,
    &--form {
      &::after {
        top: 305px;
      }
    }

    &--form {
      margin-bottom: 60px;

      font-size: 43px;
    }

    br:nth-child(1) {
      display: none;
    }
  }

    .page-main__title {
      font-size: 43px;
      line-height: 50px;
    }
}

@media (min-width: $desktop-width) {
  .page-main__main-title {
    width: 1150px;
    margin-top: 0px;

    font-size: 50px;
    line-height: 57px;

    &--catalog,
    &--form {
      padding-bottom: 115px;
      margin-bottom: 115px;
    }

    &--form {
      margin-bottom: 108px;
    }

    &--main,
    &--catalog,
    &--form  {
      &::after {
        background-size: auto 34px;
      }
    }

    &--catalog,
    &--form {
      &::after {
        top: 345px;
      }
    }
  }

  .page-main__title {
    font-size: 50px;
    line-height: 57px;
  }
}
