.page-footer {
  padding-left: 30px;
  padding-right: 30px;

  background-color: lighten($dark, 95%);
}
.page-footer__social {
  margin-bottom: 15px;

  border-bottom: 1px solid lighten($dark, 91%);
}
.page-footer__logo {
  display: block;
  display: none;
  margin: auto 0;

  &:hover path,
  &:focus path {
    fill: rgb(70, 193, 174);
    transition: 0.2s;
  }

  &:active path {
    opacity: 0.3;

    transition: 0.2s;
  }
}

.social__list {
  @include clear;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  height: 28px;
  padding-top: 25px;
  padding-left: 57px;
  padding-right: 62px;
  padding-bottom: 27px;
}

.social__link {
  @include clear;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  height: 28px;

  background-color: lighten($dark, 95%);

  &--instagram {
    width: 22px;
  }

  &--facebook {
    width: 15px;
  }

  &--twitter {
    width: 23px;
  }

  &:hover path,
  &:focus path {
    fill: rgb(70, 193, 174);

    transition: 0.2s;
  }

  &:active path {
    opacity: 0.3;

    transition: 0.2s;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  padding-bottom: 18px;
  margin: 0 auto;
}

.copyright__text {
  @include clear;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $dark;

  &:active {
  opacity: 0.3;

  transition: 0.2s;
  }
}

.copyright__link {
  @include clear;
  align-items: flex-start;
  width: 40px;
  height: 40px;

  border: none;
  background-color: lighten($dark, 95%);

  &:hover {
    path {
      fill: #46c1ae;

      transition: 0.2s;
    }
  }

  &:active {
    path {
      opacity: 0.3;

      transition: 0.2s;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__copyright {
    margin: 0;
    padding-bottom: 0;
  }

  .page-footer__social {
    margin-bottom: 0;

    border-bottom: none;
  }

  .social__list {
    padding-top: 55px;
    padding-left: 75px;
    padding-right: 0;
    padding-bottom: 57px;
  }
}
