.page-header {
  display: flex;
  flex-direction: column;

  line-height: 24px;
  font-weight: 700;

  color: $dark;
  background-color: $light;
}

.page-header__logo {
  @include clear;
  @include border;
  text-align: center;
  // position: relative;

  &--image {
    margin: 21px auto;
  }
}
.main__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid red;
}

@media (min-width: $tablet-width) {

  .page-header__logo {
    text-align: left;
  }

  .main__wrapper {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: $desktop-width) {

  .page-header__logo {
    position: absolute;
    right: 50%;
    // text-align: left;
  }

  .main__wrapper {
    width: 1150px;
    padding: 0 50px;
  }
}
//не получается задать стили для лого при наведении
// .page-header__logo {
//   &:hover,
//   &:focus {
//     .page-header__logo--image {
//     fill: $dark-grey;
//     }
//   }
//   &:active {
//     fill: $grey;
//   }
// }
