.products-type__header {
  // position: absolute;
  // top: 78px;
  margin-bottom: 27px;
  // background-color: rgb(251, 251, 251);
  // background-image: url("../img/hero-mobile@1x.jpg");
  // background-position: center 0;
  // background-repeat: no-repeat;
  // background-size: cover;
  // width: 320px;
  // height: 373px;
  // margin-top: -100px;
  // width: 320px;
  // height: 489px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.products-type__list {
  @include clear;
  margin-top: -115px;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  // border: 1px solid blue;
  // align-items: flex-end;
  // margin-top: auto;
}

.products-type__item {
  @include clear;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1.1px;

  background-color: $tiffany;

  &--toys {
    background-color: #56c3b2;
  }
}
.products-type__link {
  color: $light;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 216px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &--furnishings::after {
    width: 61px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
    path {
    opacity: 0.5;
    fill: red;
    }
  }

  &--toys::after {
    top: -5px;
    left: 205px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-image: url("../img/icon-toy.svg");
  }
}

.product__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  border: 1px solid red;
}

.product__title {
  margin-bottom: 5px;
}

.product__label {
  display: block;
  margin-bottom: 22px;

  font-weight: 700;
  text-transform: uppercase;

  color: $tiffany;
}

.product__intro {
  margin-bottom: 10px;

  font-size: 15px;
  line-height: 24px;
}

.product__options {
  margin-bottom: 28px;
}

.product__option,
.product__field {
  @include border;
  padding-top: 14px;
  padding-bottom: 11px;

  font-size: 15px;

}

.product__option {
  padding-right: 32px;
}

.product__picture {
  width: 260px;
  height: 315px;
  margin-bottom: 27px;
}

.product__price {
  @include clear;
  display: block;
  margin-bottom: 26px;

  text-align: center;

  line-height: 24px;
  font-weight: 700;

  color: $text-grey;
}

.product__order {
  margin-bottom: 70px;
}

@media (min-width: $tablet-width) {
  .products-type__header {
    height: 746px;
    background-image: url("../img/hero-desktop.jpg");
    background-size: $tablet-width 746px;
    margin-top: -300px;
  }
  .products-type__list {
    // width: 668px;
    flex-direction: row;
    margin-top: 100px;

  }
  .products-type__item {
    width: 334px;
  }
  .product__wrapper {
    position: relative;
    &--title {
      display: flex;
      justify-content: space-between;
    }
  }

  .product__label {
    width: 95px;
    text-align: center;
    margin-right: 15px;
  }
  .product__intro,
  .product__options {
    width: calc("50% - 44px");
  }

  .product__picture {
    position: absolute;
    top: 80px;
    right: 50px;
    width: calc("50% - 50px");
    height: auto;
    margin: 0;
  }
  .product__price,
   .product__order {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .products-type__header {
    height: 746px;
    // background-position: center -50px;
    background-size: $desktop-width 746px;
    margin-top: -200px;
  }

  .products-type__list {
    width: 1050px;

  }
  .products-type__item {
    width: 525px;
  }
  .product__wrapper {
    // position: relative;
    &--title {
      justify-content: flex-start;
    }
  }
  .product__title {
    order: 2;
  }
  .product__label {
    width: 95px;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    order: 1;
  }
  .product__intro,
  .product__options,
  .product__price,
  .product__order {
    margin-left: 175px;
  }
}
