.reviews__wrapper {
  // @include container;
  text-align: left;
  border: 1px solid red;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__list {
  margin-bottom: 44px;
}

.reviews__item {
  @include clear;
  position: relative;
  margin-bottom: 33px;

  color: $text-grey;
  background-color: $light;
}
.reviews__text {
  @include clear;
  margin-bottom: 37px;

  font-size: 15px;
  line-height: 30px;
}
.reviews__author-name {
  margin-bottom: 13px;

  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-user-name {
  line-height: 30px;
  font-weight: 400;
}

.reviews__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 30px;
}
.reviews__prev {
  width: 50%;
  height: 50px;
  padding: 0;

  background-image: url("../img/icon-left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: $light;
  border: 1px solid $light-grey;
}

.reviews__next {
  width: 50%;
  height: 50px;
  background-image: url("../img/icon-right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $light-grey;
  background-color: $light;
  border-left: none;
}

@media (min-width: $tablet-width) {

  .reviews {
    position: relative;
    margin-bottom: 150px;
  }
  .reviews__list {
    display: flex;
    flex-direction: column;
  }
  .reviews__links {
    position: absolute;
    top: 80%;
    right: 5%;
    width: 167px;
  }
  .reviews__prev,
  .reviews__next {
    border: none;
  }
  .reviews__to-write {
    position: absolute;
    width: 174px;
    top: 0;
    right: 5%;
  }
}
@media (min-width: $desktop-width) {

  .reviews {
    margin-left: 175px;
    margin-bottom: 230px;
  }
  .reviews__item {
    width: 700px;
  }
}
